body {

    background-color:darkslategrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#canvas-container {
    border: 3px solid #A6819B;
}

#tsp-canvas {
    display: block;
    margin: 0 auto;
}

#path-cost {
    color: white;
    font-size: 24px;

}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}


