body {
    font-family: Arial, sans-serif;
}

#aco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#aco canvas {
    border: 1px solid black;
    margin-top: 20px;
}
