   body {
    background-color: darkslategray;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
  }
  
  #container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(85, 121, 121);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #d10000;
  }
  
  .canvas {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  #canvas {
    background-color: #252630;
    border: 3px #A6819B;
    border-radius: 5%;
  }