

/* Set background color for the whole page */
body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    
    background-image: url('images/star_cluster.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
  
  
  /* Style for the button container */
  .button-container {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:purple;
    color:white;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 5px #520150;
  }
  
/* Style for the buttons inside the div */
.button-container button {
    background-color:#520150;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 17px 20px;
    font-size: 19px;
    cursor:pointer;
    border-radius: 25px;

  }
  
  
  /* Style for the title */
  .button-container h1 {
    margin: 0;
    font-size: 30px;
    border-radius: 25px;
  }

  

  .button-container2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-container2 button {
    background-color:bisque;
    margin: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    max-width: 300px;
    border-radius: 25px;
    font-size: 19px;
  }
  
  /*.button-container2 button:last-child {
    flex-basis: 100%;
  }
  */