

body{
  background-color:darkslategray;
}
/* .dropdown {
  position: absolute;
  top: 70px;  
  left: 150px; 
  display: inline-block;
} */


/* .dropdown button{
  background-color:transparent ;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: aliceblue;
} */
/* .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.dropdown-content a:hover {
  background-color: purple;
  color: white;
} */

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: row;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color:antiquewhite;
  margin-right: 30px;
}

.general-button{
  color:antiquewhite;
  font-weight: inherit;
  font-size: inherit;
  padding: 0.5em 1em;
  background-color:transparent;
  border-radius: 25px;
  transition: background-color 0.3s linear, transform 0.15s ease-out;
  margin-inline: 70px;
  box-shadow:none;
  outline: none;
}
.general-button:hover{
  cursor: pointer;
}
.general-button:active{
  transform: scale(1.1);
}
.options-button:hover{
  color: var(--path);
}

   canvas {
    border: 3px solid #A6819B;
    width: 1000px;
    height: 400px;
    margin-top: 55px;
    margin-left: 200px;
    background-color:#252630;
    border-radius: 25px;
}

.navbar{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  font-size: 16px;
  font-weight: bold;
  padding: 15px ;
  margin-top: 50px;
  
}
.navbar-item{
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.navbar-item-caption{
  text-align: center;
  background-color: var(--closed-path);
}
    